@import "./vars";

.experience--row {
  display: flex;

  .line--wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 1em;
    margin-left: 0;

    &__circle {
      width: 4em;
      height: 4em; 
      border: 2px dotted $primaryColor;

      img {
        width: 100%;
      }
    }

    &__line {
      border: none;
      border-left: 2px dotted #f00;
      color: #fff;
      background-color: #fff;
      width: 1px;
      height: 200px;
      margin: 1em 0;
      height: 100px;
    }
  }

  .content--wrapper {
    .material-icons {
      margin-right: calculateREM(15px);
      color: $secondaryColor;
    }

    p {
      display: flex;
      align-items: center;
      font-weight: 500;
      margin-bottom: 0.3em;
      align-items: flex-start;

      > span {
        margin-top: calculateREM(4px);
      }
    }

    &__job {
      font-size: 1.2em;
      color: $primaryColor;
      font-weight: 500;
      margin-top: calculateREM(20px);
      margin-bottom: calculateREM(15px);
    }

    &__period {
      margin-top: 2em;
    }

    ul.skillTags {
      list-style: none;
      display: flex;

      span {
        margin-left: calculateREM(5px);
        margin-right: calculateREM(5px);
      }
      span:first-child {
        margin-left: 0;
      }
    }

    ul.projects {
      list-style: none;
      width: 100%;

      .project--row {
        display: flex;
      }

      .projectLink,
      .projectName {
        white-space: nowrap;
      }

      .projectName {
        flex-basis: 40%;
      }

      .projectLink {
        margin-left: 1em;
        color: $secondaryColor;
        flex-basis: 60%;
        text-align: left;
      }
    }
  }
}
