@import "./vars";

.me--row {
  display: flex;
  justify-content: space-around;
  margin-bottom: 2em;
  font-weight: 500;
  align-items: center;
  font-size: 1.4em;
  margin-top: 2em;

  .colum {
    flex-grow: 0;
    display: flex;
    flex-direction: column;

    i {
      background-size: contain;
    }
  }

  .row {
    display: flex;
  }

  .imageProfile {
    border-radius: 50%;
    border: 2px dotted $primaryColor;
    padding: 1em;
    width: 200px;
  }

  .icon-linkedin {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/8/81/LinkedIn_icon.svg/2048px-LinkedIn_icon.svg.png");
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    display: inline-block;
  }

  .icon-github {
    background-image: url("https://github.githubassets.com/assets/GitHub-Mark-ea2971cee799.png");
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    display: inline-block;
  }

  .phone,
  .email,
  .location,
  .linkedin,
  .github {
    margin: 0.5em;
    display: flex;
    align-items: center;

    a {
      text-decoration: none;
      color: $grey700;
      text-overflow: ellipsis;
      overflow: hidden; 
      // max-width: 500px; 
      white-space: nowrap;
    }

    .text {
      margin-left: 1em;
    }
  }
}
